.obtenha_app {
    text-align: center;
    max-width: 350px;
    
    span {
        font-size: 14px;
    }

    .gplay_logo,
    .apple_logo {
        margin-top: 20px;
        width: 136px;
        height: 40px;
    }
}

@media(max-width: 875px) {
    .obtenha_app {
        margin: 0 auto;
        .container {
            width: 100%;
        }
        .gplay_logo,
        .apple_logo{
            width: 100px;
        }
    }
}