.obtenha_app {
    text-align: center;
    max-width: 350px;
    
    span {
        font-size: 14px;
    }

    .gplay_logo,
    .apple_logo {
        margin-top: 20px;
        width: 136px;
        height: 40px;
    }
}