@use 'responsive';
@use 'footer';
@use 'loginForm';
@use 'crieConta';
@use 'obtenhaApp';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    padding: 48px;
    max-width: 650px;
    width: 100%;

    @media(max-width:875px){
        max-width: 80%;
        display: block;
        margin: 0 auto;
    }
}

.celular__instagram{
    width: 380px;
    display: block;
    margin: auto;
}

.botao {
    width: 270px;
    margin-bottom: 16px;
    background-color: rgb(95,170,255);
    border: none;
    border-radius: 10px;
    padding: 6px;
    color: #fff;
    font-weight: bold;

    @media (max-width: 875px){
        width: 235px;
        width: 100%;
    }
}

.separador {
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    color: rgb(119, 118, 118);
    font-weight: bold;
    font-size: 14px;

    &::before,&::after {
        content: '';
        margin: 0 8px;
        background-color: #dbdbdb;
        height: 1px;
        width: 112px;
        display: block;
    }
}

.gp_logo,.ms_logo{
    width: 40px;
}